TestWebService/Connected Services/ServiceReference1/MpService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/XtraWcfWebHost" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/XtraWcfWebHost" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MpSetting">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsPassMachinePackageControl" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPassParameter" type="xs:boolean" />
      <xs:element minOccurs="0" name="PcsShot" type="xs:int" />
      <xs:element minOccurs="0" name="ProductionTime" type="xs:double" />
      <xs:element minOccurs="0" name="StdLotQty" type="xs:int" />
      <xs:element minOccurs="0" name="StdShot" type="xs:int" />
      <xs:element minOccurs="0" name="StdShotAutomotive" type="xs:int" />
      <xs:element minOccurs="0" name="StopLongTime" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MpSetting" nillable="true" type="tns:MpSetting" />
</xs:schema>